kaggle==1.5.6
numpy==1.22.0
opencv-python==4.1.2.30
scikit-learn==0.22.1
scipy==1.4.1
tensorflow==2.1.0
torch==1.4.0
torchvision==0.5.0
facenet-pytorch==2.2.8
nvidia-dali==0.21.0
nvidia-dali-tf-plugin==0.21.0